*{
    margin: 0;
    padding: 0;
}

.container{ 
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
}
body{
background: rgba(0, 0, 0, 0.7) url('../image/backgrounLogin.jpg');
background-size: cover;
background-blend-mode: darken;
}

.container h1{
    color: white;
    width: 70%;
    display: inline-block;
    font-size: 46px;
    border-bottom: 5px solid white;
    margin-bottom: 14px;
    padding: 13px 0;
}

input{
    display: block;
    background: none;
    width: 105%;
    margin: 15px 0px;
    padding: 8px 11px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

.btn:hover{
    opacity: 0.6;
    color: white;
    background: rgb(1, 143, 55);
    
}

a{
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
}
a:hover{
    background-color: #ddd;
    color: black;
    
}

.next{
    background-color: #4caff0;
    color: white;
    border-radius: 6px;
}